* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( #938AF8, #938AF8 );
}
.container {
    width: 600px;
    max-width: 600px;
    height: 500px;
    background-color: rgba(61, 66, 126, 0.76);
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-progresso {
    margin-top: 20px;
}  
.filtros-tarefas {
    margin-top: 20px;
}
.lista {
    list-style: none;
    display: flex;                         
    gap: 10px;
}
.filtro-item {
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: rgb(228, 104, 60);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}
.filtro-item:hover {
    transform: scale(1.1);
    background-color: rgb(221, 142, 113);
    color: black;
}
.adicionar-tarefas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tarefa-input {
    margin-top: 20px;
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
.btn-adicionar {
    font-weight: bold;
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(228, 104, 60);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-adicionar:hover {
    transform: scale(1.1);
    background-color: rgb(221, 142, 113);
    color: black;
}

#tarefas-lista {
    list-style: none;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}
#tarefas-lista li {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: transform 0.2s ease;
}
.completa span {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.4);
}
.btn-excluir {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-excluir:hover {
    transform: scale(1.1);
    background-color: #ff6b81;
}

@media (max-width: 640px) {
    .container {
        width: 90%;
    }
    .btn-adicionar {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}
